.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding: 20px;
}

button {
  border: 1px solid #000000;
  background: #ffffff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.numbers {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
